<<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div>
        <a href="/showProduct/<%=product._id%>"><img style='width:100%;height:400' src="<%= `/uploads/${product.images[0]}` %>"></a>
      <p><%=product.nameKurdish%></p>
    </div>
  </body>
</html>
